# 26. Sets in Python

In [11]:
myset = set()

In [3]:
myset

set()

In [4]:
# first add 1 to the set 
myset.add(1)

In [5]:
myset

{1}

In [6]:
# then we add 2 to the set 
myset.add(2)

In [7]:
myset

{1, 2}

In [8]:
# when we try to add 2 again, the set will not show like {1,2,2}
# becuase it has to be unique values 
myset.add(2)

In [9]:
myset

{1, 2}

In [14]:
mylist = [5,5,5,4,4,3,2,1]
set(mylist)

{1, 2, 3, 4, 5}

# 27. Booleans in Python

In [15]:
type(False)

bool

In [16]:
# comparison operator 
1 > 2

False

In [17]:
1 == 1

True

# I/O with basic files in Python

In [20]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [21]:
myfile = open('myfile.txt')

In [22]:
pwd

'/Users/jennifer/Desktop'

In [24]:
# first time we can read it 
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line \n'

In [25]:
# second time it shows nothing becuase we should seek it back and read 
# it again 
myfile.read()

''

In [30]:
# we have to reset and then to read 
myfile.seek(0)
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line \n'

In [33]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line \n']

In [34]:
myfile.close()

In [35]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [36]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line \n'

In [37]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [43]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SERCOND
THREE ON THIRD

Overwriting my_new_file.txt

In [45]:
with open ('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SERCOND
THREE ON THIRD

FOUR ON FORTH

In [44]:
with open ('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FORTH')

In [ ]:
with open('sdfsdfgsdg.txt', mode ='w') as f:
    f.write('I CREATE THIS FILE')

# Section 4 - Python Comparison Operators

In [46]:
2 == 2

True

In [47]:
'hello' == 'bye'

False

In [48]:
'Bye' == 'bye'

False

In [49]:
1 < 2 and 2<3

True

In [50]:
1<2 or 2<3

True

# Section 5 - Python statements

# 34. if, elif, else statements

In [54]:
if 3>2:
    print('ITS TRUE')

ITS TRUE

In [56]:
hungry = False
if hungry:
    print('FEED ME!')
else:
    print('I am not hunrgy')

I am not hunrgy

In [61]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc =='Bank':
    print('Money is cool')
elif loc =='Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

I do not know much.

In [70]:
name = 'Jose'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print ('Hello Sammy')
else:
    print('What is your name?')

What is your name?

# 35. For loops in python

In [71]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [77]:
for num in mylist:
    # check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [79]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [80]:
#string 

mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [81]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [84]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [89]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

# 36. While loop

In [91]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x = x +1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [94]:
mystirng = 'Sammy'

for letter in mystirng:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [95]:
x = 0

while x<5:
    if x==2:
        break
    print(x)
    x +=1

0
1

# 37.Useful operators

In [99]:
mylist = [1,2,3]
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [102]:
index_count = 0
 
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [103]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [104]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [105]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

 # 38. List Comprehension

In [106]:
mystring = 'hello'

In [107]:
mylist = []

In [108]:
for letter in mystring:
    mylist.append(letter)

In [109]:
mylist

['h', 'e', 'l', 'l', 'o']

In [111]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [112]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp +32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [115]:
 # if and else statment in list comprehension 

results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [121]:
# nested loop 

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [118]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]